$white: #fefefe;
$black: #151515;

$background: $black;
$color: $white;

$link-color: blue;
$link-color-reversed: yellow;

$sans: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
		ubuntu, roboto, noto, "segoe ui", arial, sans-serif;

$breakpoint-sm: 37.5rem; // 600px
$breakpoint-md: 48rem;	 // 768px
$breakpoint-lg: 64rem;	 // 1024px

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 16px;
}

body {
	background: $background;
	color: $color;
	font-family: $sans;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

a {
	color: $link-color;
	&:hover {
		color: rgba($link-color, 0.75);
	}
}

.container {
	max-width: $breakpoint-lg;
	margin: 0 auto;
	padding: 1rem;
}

.bg-dark {
	background: $black;
	color: $white;

	a {
		color: $link-color-reversed;
		&:hover {
			color: rgba($link-color-reversed, 0.75);
		}
	}
}

.grid {
	display: grid;
	grid-gap: 1rem;
	@media (min-width: $breakpoint-sm) {
		grid-template-columns: 1fr 1fr;
		&.two-col { grid-template-columns: 1fr 1fr; }
		&.three-col { grid-template-columns: 1fr 1fr 1fr; }
		&.four-col { grid-template-columns: 1fr 1fr 1fr 1fr; }
	}
}

label {
	display: block;
}

input {
	background: none;
	border: 1px solid rgba($white, 0.25);
	color: $white;
	font-size: 1rem;
	padding: 0.5rem;
	margin: 0.5rem 0;
	transition: border-color 250ms ease;
	&:focus {
		border: 1px solid $white;
		outline: none;
	}
}

// .Search section#results {
// 	transition: opacity 500ms ease, transform 500ms ease;
// 	opacity: 1;
// 	transform: translateY(0);
// 	&.hidden {
// 		opacity: 0;
// 		transform: translateY(1rem);
// 	}
// }

.RecommendedArtists {
	margin: 2rem 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.RecommendedArtist {
	padding: 1rem;
	border: 1px solid rgba($white, 0.25);
	cursor: pointer;
	&:hover {
		border-color: $white;
	}
}

// .ArtistImage {
// 	img {
// 		border-radius: 50%;
// 		width: 100px;
// 		height: 100px;
// 		display: block;
// 	}
// }
