@import "variables";
@import "baseline";
@import "utility";

button {
  background: $color-light;
  color: $color-muted;
  border: 1px solid $black;
  box-shadow: none;
  text-transform: uppercase;
  padding: $spacer-2 $spacer-3;
  cursor: pointer;
  &.sm {
    padding: $spacer-1 $spacer-2;
  }
  &.lg {
    padding: $spacer-3 $spacer-4;
  }

  &:hover {
    color: $color-dark;
  }
}

/*
Forms
*/
.button-group {
  button:not(:first-child) {
    border-left: none;
  }
}

input {
  width: 100%;
  padding: 0.5rem 0.25rem;
}

.form-field {
  margin: $spacer-1 0;
  &:first-child {
    margin-top: 0;
  }

  label + * {
    margin-top: $spacer-1;
  }
}


.App header {
  padding: 1rem;
}

.App main {
  margin-top: 2rem;
}



.Item {
  cursor: pointer;
  display: block;
  background: $color-lightgray;
  padding: 1rem;
  margin: 1rem 0;
  color: $color-dark;
  text-decoration: none;

  transition: background 500ms ease;

  &:hover {
    background: $color-mediumgray;
  }

}

#add-item-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}